@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

:root {
	font-family: 'PT Sans', sans-serif;
	--pure-white: #ffffff;
	--primary-color: #b9c6d2;
	--secondary-color: #d0dde9;
	--tertiary-color: #edf0f8;
	--accent-color: #cf0056;
	--accent-light-color: #ffc7de;
	--success-color: #01a129;
	--success-bright-color: #1ac745;
	--success-light-color: #c2ffd1;
	--heading-color: rgba(0, 0, 0, 0.7);
	--text-color: #444444;
	--light-grey: #ccc;
	--grey: #959595;
}

body {
	min-height: 100vh;
	margin: 0;
	background: linear-gradient(var(--tertiary-color) 0%, var(--primary-color) 70.45%);
}

h1,
h2,
p {
	font-weight: 400;
	color: var(--heading-color);
}

p {
	line-height: 1.5;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1rem;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}
